@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /*--------------------*/

:root {
    --red-color:#FF0000;
    --tomato-color:#FF4346;
    --button-text-color: #FFF;
    --header-bg-color:#293240;
    --title-color:#0F2232;
}

body {
    background-color: #E9ECEE;
    font-family: 'Montserrat', sans-serif;    
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.content {
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    background-color: var(--header-bg-color);
    font-size: 20px;
    padding: 0 10% 0 0;
}
.header__logo {
    max-height: 57px;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__li a{
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: var(--button-text-color);
}
.header__li_active{
    background-color: #EC1C24;
    font-weight: 600;
}
.header__li a{
    display: flex;
    align-items: center;
}
.header__li a img{
    width: 45px;
    padding-right: 10px;
}

.title {
    font-style: normal;
    font-weight: 657;
    font-size: 28px;
    line-height: 34px;
}

.main__title {
    margin: 74px 0 34px 0;
}

.avatar {
    border-radius: 50%;
}

.personal_info {
    position: relative;
}

.personal-info__li {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.fio-info {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.personal_info-avatar {
    position: absolute;
    top: 0;
    right: 0;
    height: 135px;
    width: 135px;
}

.personal-info_button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--button-text-color);
    background-color: var(--tomato-color);
    padding: 7px 18px;
}

.input-login {
    padding: 10px;
    background: #E4E6E7;
    font-weight: 400;   
    border: 0;
}

.login{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 564px;
    height: 398px;
    background: #E9ECEE;
    border: 2px solid var(--tomato-color);
}

.logo{
    position: absolute;
    width: 111px;
    height: 39px;
    left: 226px;
    top: 32px;
    
}

.log{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 563;
    font-size: 24px;
    line-height: 29px;
    position: absolute;
    width: 312px;
    height: 236px;
    left: 126px;
    top: 97px;
    color: #333F4A;
}

.login_text{
    position: absolute;
    width: 312px;
    height: 30px;
    left: 126px;
    top: 151px;
}

.login_password{
    position: absolute;
    width: 312px;
    height: 30px;
    left: 126px;
    top: 204px;
}

.button-login{
    position: absolute;
    width: 312px;
    height: 36px;
    left: 126px;
    top: 264px;
    font-weight: 743;
}

.help{
    position: absolute;
    width: 312px;
    height: 20px;
    left: 126px;
    top: 313px;
    color: #333F4A;
    font-weight: 633;
    font-size: 13px;
    align-items: center;
    text-align: center;
    
}